[submodule "src/thirdparty/qpcpp"]
	path = src/thirdparty/qpcpp
	url = https://github.com/QuantumLeaps/qpcpp.git
[submodule "src/thirdparty/mpu9250"]
	path = src/thirdparty/mpu9250
	url = https://github.com/xeedjr/MPU9250.git
[submodule "src/thirdparty/MadgwickAHRS"]
	path = src/thirdparty/MadgwickAHRS
	url = https://github.com/arduino-libraries/MadgwickAHRS.git
[submodule "src/thirdparty/devices_stm32_hal"]
	path = src/thirdparty/devices_stm32_hal
	url = https://github.com/xeedjr/devices_stm32_hal.git
[submodule "src/thirdparty/orion"]
	path = src/thirdparty/orion
	url = https://github.com/ros-ukraine/orion.git
[submodule "src/thirdparty/PID_CPP"]
	path = src/thirdparty/PID_CPP
	url = https://github.com/PatrickBaus/PID-CPP.git
[submodule "src/thirdparty/rosserial_arduino_lib"]
	path = src/thirdparty/rosserial_arduino_lib
	url = https://github.com/xeedjr/rosserial_arduino_lib.git
[submodule "src/thirdparty/ring_buffer"]
	path = src/thirdparty/ring_buffer
	url = https://github.com/xeedjr/Embedded_RingBuf_CPP.git
